.projectsList{
    background-color: #e0f2f7;
    left: 10%;
    border: 1px solid #bee0e9;
    box-shadow: 0 0 3px 3px #888888;
    /* position: absolute;
    height: 100%; */
}
.pname{
    font-size: x-large;
}
.homeclass{
    float: right;
    margin-right: 1%;
}
.row{
    
}