
<app-manager></app-manager>
<div class="container-fluid">
    <h1 align="center">Projects under {{manager}}</h1>
    <div class="row">
        <div class="col-sm-3 projectsList" >
            <div *ngFor="let project of projects;index as i">
                <h3 align="center" class="pname"><button class="btn" (click)="description(i)">{{project}}</button></h3>
            </div>
        </div>
        <div class="col-sm-6 projectsList" >
            {{Description}}
        </div>
    </div>
</div>
