<div class="container">
<br><br>
    <form #LoginForm ="ngForm" (ngSubmit)="submitLoginForm(LoginForm)" style="background-color:#dcdccc;">
        <div class="row">
            <div class="col-md-4">
        </div>
            
        <div class="col-md-4 content">
            <br>
            <br>
            <h1 align="center">Login with Infosys ID</h1>
            <br>
            <div class="form-group">
                <div class="col" style="text-align:left">
                    <label style="font-weight: 200" >Email Id</label>
                </div>
                <div class="col; input-group">
                    <input type="email" name="email" class="form-control" ngModel required>
                </div>
            </div>
            <div class="form-group">
            <div class="col" style="text-align:left">
                <label style="font-weight: 200">Password</label>
            </div>
            <div class="col; input-group">
                <input type="password" name="password" class="form-control" ngModel required>
            </div>
            </div>
            <div *ngIf="!checkBool" style="color: red;font-size: 15px;font-weight: bold">please enter valid email and password</div>
            <div class="form-group"  style="text-align:left">
            <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        </div>
    </form>
</div>