<button class="btn btn-primary homeclass" [routerLink]="['/home']">home</button>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 align="center">Below are the steps for Background verification</h1  >
        </div>
        
        <div class="offset-md-2 col-md-8">
            <hr>
            <ul>
                <li>Download the below files required for background verification.</li>
                <br>
                <ol type="I">
                    <li>
                        <a download="filename" target="_blank" href="../assets/agreement.pdf">
                            Click here to download the pdf
                        </a>
                    </li>
                    <li>
                        <a download="filename" target="_blank" href="../assets/PIIA.DOC">
                            Click here to download the PIIA doc
                        </a>
                    </li>
                    <li>
                        <a download="filename" target="_blank" href="../assets/Background_Verification Form.xlsx">
                            verification Form
                        </a>
                    </li>
                </ol>
                <li class="top">Fill in the Details and upload below.</li>
                <br>
                <li><a> Upload the files. to be submitted for review and Access.</a>
                    
                    <form>
                            <br>
                            <div>
                                <label for="file">Choose File</label>
                                <input type="file"
                                       id="file"
                                       (change)="picked($event)">
                            </div>                   
                            <br>
                            <div class="piia" > PIIA:<input type="file" required (change)="picked($event)"></div>
                           <br>
                            <div> Verification Form:<input type="file" required (change)="picked($event)"></div>
                            <br>
                            <br>
                            <button class="btn btn-primary btn-sm" type="submit" (click)="triggerer()" align="center">submit</button>
                        </form>
                </li>
            </ul>
        </div>
        
    </div>
</div>
<!-- <button (click)="f1()">click</button>
<a download="filename" target="_blank" href="../assets/datestimes.pdf">
    Click here to download image
  </a> -->
