

<div *ngIf="!allowBool" class="center">
    <h1>already applied for verification.</h1>
</div>
<div class="container" *ngIf="allowBool">
    <button class="btn btn-default homeclass" [routerLink]="['/home']" style="float: right">home</button>
    <br>
<br><br>
    <div class="row" style="background-color: #d5d59d"> 
        <div class="col-lg-12" >
                <h1 align="center">Below are the steps for Background verification</h1  >
            <hr>
            <ul>
                <li>Download the below files required for background verification.</li>
                <br>
                <ol type="I">
                    <li>
                        <a download="filename" target="_blank" href="../assets/agreement.pdf">
                            Click here to download the pdf
                        </a>
                    </li>
                    <li>
                        <a download="filename" target="_blank" href="../assets/PIIA.DOC">
                            Click here to download the PIIA doc
                        </a>
                    </li>
                    <li>
                        <a download="filename" target="_blank" href="../assets/Background_Verification Form.xlsx">
                            verification Form
                        </a>
                    </li>
                </ol>
                <li class="top">Fill in the Details and upload below.</li>
                <br>
                <li><a> Upload the files. to be submitted for review and Access.</a>
                    <br>
                    <form>
                            <table class="table borderless">
                                    <tr>
                                        <td>bg check</td>
                                        <td> <input type="file" id="file" (change)="picked($event)"></td>
                                    </tr>
                                    <tr>
                                        <td>PIIA</td>
                                        <td> <input type="file" id="file" (change)="picked($event)"></td>
                                    </tr>
                                    <tr>
                                        <td>Verification Form:</td>
                                        <td> <input type="file" id="file" (change)="picked($event)"></td>
                                    </tr>
                                </table>
                            <br>
                         
                            <button class="btn btn-primary btn-sm" type="submit" (click)="triggerer()" align="center">submit</button>
                        </form>
                </li>
            </ul>
        </div>        
    </div>
</div>
<!-- <button (click)="f1()">click</button>
<a download="filename" target="_blank" href="../assets/datestimes.pdf">
    Click here to download image
  </a> -->
