mat-form-field{
    width: 80%;
    padding: 1%;
}
.homeclass{
    float: right;
    margin-right: 1%;
}
.row{
    
    /* font-size: medium; */
    font-style: calibri;
    font-family: calibri; 
    background-color: #dcdccc
}
.borderless td, .borderless th {
    border: none;
}