.nav{
    background-color: aquamarine;
    width: 100%;
    height: auto
}
.ManButton{
    background-color: aquamarine;
    position: relative;
    left: 10%;
}
.backButton{
    background-color: aquamarine;
    position: relative;
    left: 10%;
}
.About{
    position: relative;
    left: 10%;}
.btn-light{
    border-color: aquamarine;
}
