<div class="container">
        <button class="btn btn-default" [routerLink]="['/login']" style="float: right">back</button>
    <br>
    <br>
    <br>

    <div class="row" style="background-color:#d5d59d;">

        <div class="col-xs-4">
            <button class="btn btn-primary" [routerLink]="['/details']" *ngIf="adminBool">details</button>
            
            <br>
            <br>
            <ol>
                <li>Please click the below button to search based on Manager</li>
                <br>
                <button class="btn btn-primary" (click)="managerMethod()" [routerLink]="['/manager']">Manager Name</button>
                <br>
                <hr>
                <li>Please click the below button to search based on Manager</li>
                <br>
                <button class="btn btn-primary" [disabled]="adminBool" (click)="backgroundMethod()" [routerLink]="['/background']">Background Check</button>
                <br>
                <small *ngIf="adminBool">applying for bg check is disabled</small>
            </ol>
            <!-- <button class="ManButton btn" (click)="managerMethod()" [routerLink]="['/manager']">Manager Name</button> -->
        </div>
       
    </div>
</div>