<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <br>
            <br>
            <ol>
                <li>Please click the below button to search based on Manager</li>
                <br>
                <button class="btn btn-primary" (click)="managerMethod()" [routerLink]="['/manager']">Manager Name</button>
                <br>
                <hr>
                <li>Please click the below button to search based on Manager</li>
                <br>
                <button class="btn btn-primary" (click)="backgroundMethod()" [routerLink]="['/background']">Background Check</button>
                <br>
            </ol>
            <!-- <button class="ManButton btn" (click)="managerMethod()" [routerLink]="['/manager']">Manager Name</button> -->
        </div>
    </div>
</div>